body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

header {
  background-color: red;
  color: black;
  padding: 20px;
  text-align: center;
}

header a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  background-color: beige;
}

#contentc {
  padding: 20px;
}

.card {
  border: 1px solid red;
  width: 900px;
  border-radius: 6px;
}

.card img {
  width: 40%;
  height: auto;
  border-radius: 100px;
}

.content {
  padding: 10px;
  font-size: small;
  color: black;
}
h5 {
  color: black;
}

.content span {
  font-weight: bold;
  color: red;
}

.purchaseBtn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purchaseBtn:hover {
  background-color: #0056b3;
}
h2{
  text-decoration: underline;
  color:bisque;
  font-size: larger;
}
#contact {
  background-color: red;
  color:black;
  padding: 2rem;
}

