body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:red;
  color:black;
  padding: 20px;
  text-align: center;
}

header a {
  color:black;
  margin: 0 15px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
   background-color:beige;
}

#contentc {
  padding: 20px;
}

.card {
  border: 1px solid red;
  width: 500px;
  border-radius: 6px;
}


.card img {
  width: 40%;
  height: auto;
}

.content {
  padding: 10px;
  font-size: x-small;
  
}


.content span {
  font-weight: bold;
color: red;
}

.purchaseBtn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.purchaseBtn:hover {
  background-color: #0056b3;
}


